/* место для вашего кода */

.content {
  box-sizing: border-box;
  max-width: 1100px;
  min-height: 100px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 92px;
}

.header_item {
  margin-top: 4px;
  margin-left: 50.52px;
  display: flex;
  justify-content: space-between;
}

.item_1 {
  margin-right: 31.48px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

.item_2 {
  margin-right: 32px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  list-style: circle;
  white-space: nowrap;
}

.item_3 {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  list-style: circle;
  white-space: nowrap;
}

.header_image {
  margin-left: 36px;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  margin-left: 184px;
}

.header_address-1 {
  margin-top: 5px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  letter-spacing: 0.18px;
  list-style: none;
  text-decoration: underline;
}

.header_address-2 {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  letter-spacing: 0.18px;
  list-style: none;
  text-decoration: underline;
}

.header_address-3 {
  margin-top: 1px;
  margin-left: 184px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  width: 237px;
}

.cover {
  margin-top: 96px;
  width: 1100px;
  height: 757px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/ono-tebe-nado/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover_title-menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 165px;
}

.aligned-text {
  margin-left: 50px;
}

.aligned-text-o- {
  color: white;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
  letter-spacing: 30px;
  word-wrap: break-word;
}

.aligned-text-no- {
  margin-left: -5px;
  color: white;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
  letter-spacing: 60px;
  word-wrap: break-word;
}

.aligned-text_center {
  margin-left: 336px;
  margin-top: 20px;
}

.aligned-text_center-te- {
  color: white;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100px;
  letter-spacing: 30px;
  word-wrap: break-word;
}

.aligned-text_center-be- {
  margin-left: -5px;
  color: white;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100px;
  letter-spacing: 60px;
  word-wrap: break-word;
}

.aligned-text_right {
  margin-left: 633px;
  white-space: nowrap;
  margin-top: 20px;
}

.aligned-text_right-n- {
  color: white;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100px;
  letter-spacing: 55px;
  word-wrap: break-word;
}

.aligned-text_right-ad- {
  margin-left: 3px;
  color: white;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100px;
  letter-spacing: 25px;
  word-wrap: break-word;
}

.aligned-text_right-o- {
  margin-left: 3px;
  color: white;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100px;
}

.cover_down {
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subline {
  margin-left: 80px;
  margin-bottom: 56px;
  width: 637px;
  height: 28px;
  color: white;
  font-size: 22px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  word-wrap: break-word;
  word-spacing: 17.5px;
  white-space: nowrap;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  margin-right: 52px;
  margin-bottom: 55px;
  width: 256px;
  height: 51px;
  color: #fff;
  text-align: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.card {
  display: grid;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 179px;
}

.card_heading {
  margin-top: 1px;
  margin-left: 40px;
  color: black;
  font-size: 40px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}
.article {
  margin-top: 27px;
  display: flex;
  gap: 25px;
}

.card_film {
  width: 334px;
  height: 563px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/ono-tebe-nado/images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_film-heading {
  margin-top: 51px;
  margin-left: 40px;
  width: 254px;
  height: 82px;
  color: white;
  font-size: 22px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 26.4px;
  word-wrap: break-word;
}

.card_film-text {
  margin-top: 238px;
  margin-left: 40px;
  width: 254px;
  height: 144px;
  color: white;
  font-size: 20px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.card_book {
  width: 334px;
  height: 563px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/ono-tebe-nado/images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_book-heading {
  margin-top: 51px;
  margin-left: 40px;
  width: 254px;
  height: 110px;
  color: white;
  font-size: 22px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 26.4px;
  word-wrap: break-word;
}

.card_book-text {
  margin-top: -6px;
  margin-left: 40px;
  width: 254px;
  color: white;
  font-size: 20px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.card_picture {
  width: 334px;
  height: 563px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/ono-tebe-nado/images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_picture-heading {
  margin-top: 51px;
  margin-left: 40px;
  width: 254px;
  height: 110px;
  color: white;
  font-size: 22px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 26.4px;
  word-wrap: break-word;
}

.card_picture-text {
  margin-top: 90px;
  margin-left: 40px;
  width: 254px;
  color: white;
  font-size: 20px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.card_footer {
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: underline;
}

.card_footer-text {
  color: black;
  font-size: 20px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  white-space: nowrap;
}

.about {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 148px;
  gap: 20px;
}

.about_logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.about_logo-circle {
  margin-top: 35px;
  margin-left: 74px;
  width: 240px;
  height: 240px;
  background: black;
  border-radius: 9999px;
}

.about_logo-white {
  margin-top: 64px;
  margin-left: 46.48px;
  width: 141.54px;
  height: 112.55px;
}

.about_column {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 100px;
  margin-top: 133px;
  margin-left: 72px;
}

.about_column-header {
  margin-left: -24px;
  color: black;
  font-size: 40px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.about_column-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
}

.about_text-up {
  margin-top: 2px;
  margin-left: -23px;
  width: 688px;
  color: black;
  font-size: 20px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.about_text-down {
  margin-left: -23px;
  width: 693px;
  color: black;
  font-size: 20px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.footer {
  margin-top: 187px;
  margin-bottom: 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.address_f {
  display: flex;
  flex-direction: column;
}

.footer_address-1 {
  margin-top: -7px;
  margin-left: 50px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  letter-spacing: 0.18px;
  list-style: none;
  text-decoration: underline;
}

.footer_address-2 {
  margin-top: 3px;
  margin-left: 49px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  letter-spacing: 0.18px;
  list-style: none;
  text-decoration: underline;
}

.footer_address-3 {
  margin-top: -2px;
  margin-left: 51px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  width: 237px;
}

.footer_item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: -4px;
  margin-left: 24px;
}
.footer_item_1 {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

.footer_item_2 {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  white-space: nowrap;
  list-style: none;
}

.footer_item_3 {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  white-space: nowrap;
  list-style: none;
}

.footer_social {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  width: 240px;
  height: 48px;
  margin-top: -5px;
  margin-left: 71px;
}

.footer_social-yt {
  margin-left: -51px;
  width: 48px;
  height: 48px;
}

.footer_social-vk {
  margin-left: -3px;
  width: 48px;
  height: 48px;
}

.footer_social-pinterest {
  margin-left: 0px;
  width: 48px;
  height: 48px;
}
